# =======================
# APP
# =======================
PORT=3333
NOVE_ENV="development"
CLIENT_ORIGIN="http://localhost:3000"

# =======================
# DATABASE
# =======================
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/thundercoding"

# =======================
# BETTER AUTH
# =======================
# Precisa ter pelo menos 32 caracteres e alta entropia.
# Exemplo de geração:
# openssl rand -base64 32
BETTER_AUTH_SECRET="trocar-por-um-secret-super-forte-com-32-ou-mais-caracteres"

# Como o back vai rodar separado do front, aqui deixamos a URL da API
BETTER_AUTH_URL="http://localhost:3333"